@model List<PageFree>
@{
    Layout = null;
}

<section class="shipping_details section_padding">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="single_shopping_details">
                        <img src="img/icon/@item.Icon" alt="">
                        <h4>@item.Name  gfrgrdgrdgrdgrdgrd</h4>
                        <p>@item.Content</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
